body {
    margin: 0;
    background-color: #1F2937;
    text-align: center;
    color: white;
}
.main{
    width: 600px;
    height: 600px;
    /* border: 2px solid white; */
    margin-right: auto;
    margin-left: auto;
    text-align:start;
}
.heading{
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 0px;
}

span{
    color: #10b77f;
}
p{
    margin-top: 10px;
    color: #D5D4D8;
    font-size: 20px;
    text-shadow: 0px 0px 5px black;
}
button{
    color: white;
    background-color: #10B981;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    text-shadow: 0px 0px 2px black;
    font-size: 17px;
    border: none;
}
hr{
    margin-top: 50px;
    border-color: #2F3E53;
}
.pass1{
    width: 270px;
    height: 50px;
    /* border: 2px solid white; */
    border-radius: 5px;
    background-color: #273549;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pass2{
    width: 270px;
    height: 50px;
    /* border: 2px solid white; */
    border-radius: 5px;
    background-color: #273549;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ans{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.pass{
    color: #10B981;
    margin: 0px;
}
