button{
    padding: 10px;
    width: 100px;
    background-color: gray;
    display: block;
    color: rgb(47, 54, 51);
    border: none;
    margin: auto;
    border-radius: 5px;
    font-weight: 800;  
}
