
body {
    margin: 0;
    text-align: center;
}

img {
    width: 150px;
    border-radius: 50%;
}
.hero{
    background-image: url("images/torshov.jpg");
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    color: white;
    font-weight: bold;
    /* margin-bottom: 0px; */
}
.h1{
    background-color: #1D3557;
    padding: 10px;
    border-radius: 10px;
}
.h2{
    margin-top: 0px;
    border-radius: 10px;
    background-color: #457B9D;
    padding: 10px;
    width: 500px;
}
.activities{
    background-color: #F1FAEE;
    /* height: 400px; */
}
.h3{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #1D3557;
    font-size: 40px;
    font-weight: bold;
}
.img{
    display: flex;
    justify-content: space-evenly;
}
.sh{
    color: #1D3557;
    font-size: 25px;
    width: 195px;
    margin-bottom: 0px;
}
.sp{
    width: 270px;
    font-size: 17px;
    color: #1D3557;
    padding-bottom: 20px;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guide-section{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 10px solid #1D3557;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 600px;
    background-color: #A8DADC;
    border-radius: 10px;
}

#guide-img{
    border-radius: 20px;
    width: 200px;
    margin-left: 20px;

}
.content{
    color: #1D3557;
}
#guide-heading{
    font-weight: bold;
    font-size: 30px;
}
#guide-para{
    font-style: italic;
    font-size: 25px;

}
#guide-h4{
    font-size: 30px;
    font-weight: bold;
}