body{
    background-image: url("GALAXY.webp");
    color: #82a5ca;
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    
}

#logo{
    /* margin-top: 50PX; */
    width: 150px;
}

.btn{
    color: #82a5ca;
    font-weight: bold;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    font-family: "Orbitron", sans-serif;
}

#cta{
    border-bottom: 4px solid #82a5ca;
}