body{
    background-image: url("space.jpg");
    color: white;
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    
}
.btn{
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    font-family: "Orbitron", sans-serif;
}