@font-face {
  font-family: 'MyCustomFont'; /* Choose a name for your font */
  src: url('CursedTimerUlil-Aznm.ttf') format('truetype'); /* Link to the font file in your directory */
  font-weight: normal; /* Optional: define weight */
  font-style: normal; /* Optional: define style */
  font-display: swap; /* Optional: define how the font loads and displays */
}

body {
    margin: 0;
    background-color: #1b244a;
}

.container {
    display: flex;
    justify-content: space-around;
}
h3{
    color: white;
    font-size: 30px;
}
.score-screen{
    width: 155px;
    height: 120px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
   padding: 10px; 
   margin-top: 20px;
   margin-right: 10px;
   background-color: #1b244a;
   color: #9AABD8;
   border: 1px solid #9AABD8;
   font-family: 'MyCustomFont'; 
   border-radius: 5px;
   cursor: pointer;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    color: #F94F6D;
    font-size: 60px;
    margin: 0px;
    font-family: 'MyCustomFont'; 
    
}